body{
    background-image: linear-gradient(to right,#e9a76d,#ffef9f);
}
.square svg{
    height: 40px;
    width:40px;
    margin:5px;
    position: relative;
    z-index:-1;
    transition:width 0.4s;
    transition:height 0.4s;
}
.historyA {
display:none
}

.historyB {
display: none;
}
.displayHistory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: medium;
    z-index: 1000;
    overflow: scroll;
}
.historyA p, .historyB p {
    text-align: center;
    font-size: medium;
    opacity: 1; 
}
.displayHistory p{
    margin: 4px;
}
#gameboard {
    width: 414px; 
    height: 414px; 
    display: flex;
    flex-wrap: wrap;
    position: absolute; 
    z-index: 0; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition:width 0.4s;
    transition:height 0.4s;
}
.square{
    height:50px;
    width:50px;
    border:1px solid #fec89a;
    border-collapse: separate;
    position:relative;
    z-index: -5;
    transition:width 0.4s;
    transition:height 0.4s;
}
.piece{
    z-index:9;
}
.color{
    background-color: #ffef9f;
}
.green{
    fill:#25a18e;
    border-top-color: #25a18e;
    border-left-color: #25a18e;
}
.black{
    fill: black;
    border-top-color: #000000;
    border-left-color: #000000;
}
.path{
    background-color: rgb(200, 78, 78);
}
.bullet{
    position:absolute;
    top:20px;
    left:20px;
    display: none;
    height: 15px;
    width: 15px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.displayBullet{
    display:block;
}
.greenb{
    background-color: #25a18e;
}
.blackb{
    background-color: black;
}
.button{
  align-items: center;
  background-image: linear-gradient(135deg, #e34040, #fc894d);
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 10px;
  font-weight: 700;
  height: 30px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-transform: uppercase;
  margin:5px;
}
.reset,.pause,.undo,.redo,.HistoryA,.HistoryB{
    background-image: linear-gradient(135deg, #e34040, #fc894d);
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    height: 30px;
    letter-spacing: .4px;
    line-height: 1;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-transform: uppercase;
    margin:5px;
  }
  .restart{
    animation: fadeIn 1s ease-in-out;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    display:block;
    width:100px;
    height:50px;
    font-size: medium;
    font-weight: 700;
  }
  .back{
    animation: fadeIn 1s ease-in-out;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    display:block;
    width:100px;
    height:50px;
    font-size: small;
    font-weight: 700;
  }
.button-container{
    width:400px;
    height:40px;
    margin:auto;
    display: flex;
    position:absolute;
    justify-content:center;
    top:90%;
    left:50%;
    transform: translate(-50%,0);
}
.controls{
    display: flex;
    justify-content:center;
    margin:auto;
    position:relative;
}
#p{
    display: block;
    width: 100px;
    height:30px;
    position: relative;
    margin: auto;
    font-weight:700;
    color:#fc894d;
    text-shadow: 0 0 10px #b2d72c;
    font-size: larger;
    margin-top:0;
}
#winner-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 1.5em;
    z-index: 1000;
}

.timer{
    position: relative;
    margin: auto;
    display: flex;
    width:400px;
    height:40px;
    justify-content: center;
    align-items: center;
}
.timer-A{
    color: #25a18e;
    font-weight:700;
    font-size: medium;
}
.timer-B{
    color:black;
    font-weight:700;
    font-size:medium;
}
img{
    display: block;
    width:50px;
    height:50px;
}
@media (max-width:550px),(max-height:600px) {
    .bullet{
        height:10px;
        width: 10px;    
        top:18px;
        left:18px;
    }
    #winner-message{
        font-size:smaller;
    }
    #gameboard{
        width:314px;
        height:314px;
    }
    .square{
        width:37.5px;
        height:37.5px;
    }
    .square svg{
        width:27.5px;
        height:27.5px;
    }
    .reset,.pause,.undo,.redo,.HistoryA,.HistoryB{
        width: 70px;
        font-size: 6px;
        text-align: center;
        padding:0;
       }
       #p{
        display: block;
        width: 100px;
        height:30px;
        position: relative;
        left:30px;
        margin: auto;
        font-weight:700;
        color:#ffffff;
        text-shadow: 0 0 10px #b2d72c;
        font-size: small;
        margin-top:0;
    }
    body{
        overflow:hidden;
}
